.infoBox {
    display: inline-block;
    position: relative;
    padding: 16px;
    border-radius: 6px;
    background-color: rgba(var(--accent-green-rgb), 0.1);
    font-size: 13px;
    line-height: 1.35;
    color: var(--label-primary-color);
}

.infoBox a {
    font-weight: 600;
    color: var(--accent-green);
    white-space: nowrap;
}

.infoBox .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    line-height: 0;
    color: var(--background-secondary-color);
}
