.checkbox input {
    display: none;
}

.checkbox .indicator {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--background-secondary-color);
    box-shadow: inset 0 0 0 2px var(--button-background-disabled-color);
    color: var(--label-secondary-color);
}

.checkbox input:checked + .indicator {
    background-color: rgba(var(--accent-green-rgb), 0.1);
    box-shadow: inset 0 0 0 2px rgba(var(--accent-green-rgb), 0.1);
    color: var(--accent-green);
}

.checkbox.solid .indicator {
    box-shadow: inset 0 0 0 2px var(--checkbox-color, var(--button-background-disabled-color));
    color: var(--label-selected-color);
}

.checkbox.solid input:checked + .indicator {
    background-color: var(--checkbox-color, var(--label-secondary-color));
    box-shadow: none;
    color: var(--label-selected-color);
}
