.widgetDate {
    height: 34px;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--background-secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.35;
}

.widgetDate:not(.disabled):hover {
    background-color: var(--button-background-hover-color);
}

.widgetDate.open,
.widgetDate:not(.disabled):active {
    background-color: var(--button-background-active-color);
}

.widgetDate.default {
    color: var(--label-secondary-color);
    font-weight: 400;
}

.widgetDate.disabled {
    cursor: not-allowed;
    color: var(--label-secondary-disabled-color);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 134px;
    max-height: 360px;
    padding: 8px 4px;
    overflow: auto;
}

.options .option {
    height: 26px;
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--label-primary-color);
    font-size: 13px;
    line-height: 1.35;
    cursor: pointer;
    user-select: none;
}

.options .option:hover,
.options .option.hover {
    background-color: var(--background-tertiary-color);
}

.options .option:active,
.options .option.active {
    background-color: var(--button-background-active-color);
}

.options .option.selected {
    background-color: rgba(var(--accent-green-rgb), 0.10);
    font-weight: 600;
    color: var(--accent-green);
}

.options input[type=date] {
    visibility: hidden;
    position: absolute;
    bottom: 38px;
    left: 138px;
}
