.analyzeWidget {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    line-height: 1.35;
    border: solid 1px var(--background-secondary-color);
}

.analyzeWidget .title {
    margin-bottom: 16px;
}
