.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - var(--header-height));
    padding-top: 192px;
}

.main .column {
    width: 240px;
    display: flex;
    gap: var(--spacing-l);
    flex-direction: column;
    align-items: stretch;
}

.text {
    white-space: initial;
}
