.otherProfessionCard {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    padding: var(--spacing-s);
    border-radius: 4px;
}

.otherProfessionCard .info {
    flex: 1;
}

.otherProfessionCard .info .title {
    margin-bottom: var(--spacing-xxs);
    color: var(--label-secondary-color);
}

.otherProfessionCard .info .description {
    font-size: 11px;
    line-height: 15px;
    color: var(--label-secondary-color);
}

.otherProfessionCard .otherProfessionDropdown {
    width: 216px;
}

.otherProfessionOption {
    width: 200px;
}
