.filterWidget {
    margin-bottom: 16px;
    padding-top: 16px;
    border-radius: 4px;
    border: solid 1px var(--background-secondary-color);
}

.filterWidget .title {
    padding: 0 16px;
    margin-bottom: 8px;
}

.filterWidget .buttonContainer {
    padding: 8px;
    border-top: solid 1px transparent;
}
