.pill {
    padding: 2px 6px;
    border-radius: 2px;
    background-color: rgba(var(--accent-green-rgb), 0.1);
    color: var(--accent-green);
    font-size: 12px;
    line-height: 16px;
}

.pill.critical {
    background-color: rgba(var(--background-critical-color-rgb), 0.2);
    color: var(--label-critical-color);
}
