.paginatedTable {
    --row-height: 50px;
    --page-size: 5;
}

.paginatedTable .header,
.paginatedTable .row {
    display: flex;
    align-items: center;
    gap: 0 var(--spacing-s);
}

.paginatedTable .header {
    height: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--label-secondary-color);
}

.paginatedTable .body {
    height: calc(var(--row-height) * var(--page-size));
}

.paginatedTable .row {
    height: var(--row-height);
    font-size: 13px;
    line-height: 18px;
    color: var(--label-primary-color);
}

.paginatedTable .row {
    border-top: solid 1px transparent;
    border-bottom: solid 1px var(--border-primary-color);
}

.paginatedTable .row:last-child {
    border-bottom: solid 1px transparent;
}

.paginatedTable .footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxs)
}

.paginatedTable .footer button {
    color: var(--label-primary-color);
}

.paginatedTable .footer button:disabled {
    color: var(--label-secondary-color);
}

.paginatedTable .footer .pageIndicator {
    width: 45px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}
